In [3]:
L = [1,2,"Sahil",[2,3,4,"Python"]]
print(L[1:3])

[2, 'Sahil']

In [4]:
L = [1,2,"Sahil",[2,3,4,"Python"]]
print(L[3][1:3])

[3, 4]

In [5]:
L = [1,2,"Sahil",[2,3,4,"Python"]]
print(L[3][3][0:2])

Py

In [6]:
print(L[3][3][1::2])

yhn

# List Comprehension

#syntax: [expression for item in iterable if condition]

## List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, that startswith the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside.
- result always in list


syntax:

[expressoin for item in list ]

In [7]:
fruits=['apple','banana','cherry','kiwi','mango']
newlist=[]
for x in fruits:
    if x.startswith('a'):
        newlist.append(x)
print(newlist)

['apple']

In [8]:
newlist1=[x for x in fruits if x.startswith('a')]
newlist1

['apple']

## List of even no.

In [9]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [11]:
numbers =[n for n in range(1,51)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [12]:
even_no=[x for x in range(1,51) if x%2==0]
print(even_no)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [13]:
n=[1,2,3,4,5,6,7]
n2=[x*x for x in n]

In [14]:
n2

[1, 4, 9, 16, 25, 36, 49]

## Convet a string to a uppercase()

In [16]:
string='data science'
l=[]
for i in string:
    upper_chr=i.upper()
    l.append(upper_chr)
print(l)

['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [17]:
string='data science'
upper=[x.upper() for x in string]
upper

['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [18]:
s='data science'
a=[i for i in s]

In [19]:
a

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

## Generating a list of tuples representing pairs of numbers:

In [20]:
# Output: [(1, 2), (2, 3), (3, 4), (4, 5)]

In [21]:
pairs= [(x, x+1) for x in range(1,5)]

In [22]:
pairs

[(1, 2), (2, 3), (3, 4), (4, 5)]

## Creating a list of even squares using conditional expression:

In [24]:
numbers = [1,2,3,4,5,6]
even_squares = [x**2 for x in numbers if x%2 ==0]
# Ouput: [4, 16, 36]

In [25]:
even_squares

[4, 16, 36]