## Change the item value

In [1]:
#Correct mistake value in the list
odd=[2,4,6,8]
#Change the first item
odd[0]=1
print(odd)

[1, 4, 6, 8]

In [5]:
#Change 2nd to 4th item
odd[1:4]=[3,5,7]
print(odd)

[1, 3, 5, 7]

## Appending and Extending

In [7]:
odd=[1,3,5]
odd.append(7)
print(odd)

[1, 3, 5, 7]

In [9]:
odd.extend([9,11,13])
print(odd)

[1, 3, 5, 7, 9, 11, 13]

## Insert the item in the list to particular index

In [3]:
fruits=["apple", "banana", "cherry"]
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

## List of number

In [12]:
age=[100,3,12,4,56,2,54]
print(age)

[100, 3, 12, 4, 56, 2, 54]

In [13]:
print(max(age))

100

In [14]:
print(min(age))

2

In [16]:
age.sort()
print(age)

[2, 3, 4, 12, 54, 56, 100]

In [17]:
age.sort(reverse=True)
print(age)

[100, 56, 54, 12, 4, 3, 2]

In [18]:
a=sum(age)
print(f'Sum is ',a)

Sum is  231

## Count

In [19]:
fruits=["apple","mango","papaya","pineapple","cherry","mango","mango"]
print(fruits.count("mango"))

3

## Extracting item from the list

In [20]:
fruits=["apple","banana","grape","kiwi"]
print(fruits[0])

apple

In [22]:
print(fruits[0:3])
print(fruits[:3])

['apple', 'banana', 'grape']
['apple', 'banana', 'grape']

In [23]:
print(fruits[2:])

['grape', 'kiwi']

In [25]:
print(fruits[-1])

kiwi

In [27]:
print(fruits[::-1])

['kiwi', 'grape', 'banana', 'apple']

In [29]:
fruits.insert(2,"Water melon")
print(fruits)

['apple', 'banana', 'Water melon', 'grape', 'kiwi']