## Access Tuple item

In [3]:
thistuple=("apple","banana","cherry")
print(thistuple[1])

banana

In [2]:
print(thistuple[-1])

cherry

## Range of Values

In [4]:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

## When starting value is not specified

In [4]:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [5]:
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [6]:
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## Change tuple value

In [8]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

## Adding item

In [10]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.append("orange")
thistuple=tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Remove the item

In [11]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

('banana', 'cherry')

## To delete the tuple completely

In [8]:
thistuple=("apple","banana","cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

## Unpacking the tuple

In [10]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)
print(green,yellow,red)

apple
banana
cherry
apple banana cherry

In [14]:
s=('name','age','city')
(n,a,c)=s
print(n)
print(a)
print(c)

name
age
city

In [15]:
thistuple=(1,2,3,4,5)
print(thistuple[1:4])

(2, 3, 4)

In [19]:
thistuple=('f')
print(thistuple)

f

## Count

In [17]:
fruits=("apple","banana","cherry")
print(fruits.count("cherry"))

1

In [18]:
fruits=("apple","banana","cherry")
print(fruits.index("cherry"))

2

In [8]:
print(fruits.pop())

NameError: name 'fruits' is not defined

In [21]:
thistuple=('3','7','2','7','1')
print(thistuple.count('7'))

2

In [25]:
thistuple1=('1','2','3','4','5')
thistuple2=('5'.'4','3'.'2','1')
print(thistuple1.union(thistuple2))

SyntaxError: invalid syntax (2966010361.py, line 2)

In [5]:
#without use of parentheses
this_tuple='cherry','banana','mango'
print(this_tuple[2])

mango