## Creating the Sets

In [1]:
days={"monday","tuesday","wednesday","thursday","friday","saturday","sunday"}
print(days)

{'monday', 'friday', 'tuesday', 'saturday', 'wednesday', 'thursday', 'sunday'}

## Adding the element

In [20]:
fruits={"apple","mango","grapes"}
print(fruits)
fruits.add(123)
print(fruits)

{'mango', 'grapes', 'apple'}
{'mango', 'grapes', 'apple', 123}

In [4]:
fruits={"apple","mango","grapes"}
fruits.update("kiwi")
print(fruits)

{'mango', 'grapes', 'i', 'w', 'k', 'apple'}

In [17]:
fruits={"apple","mango","grapes"}
fruits.update("123")
print(fruits)

{'mango', 'grapes', '1', '3', 'apple', '2'}

## Remove, Discard and pop

In [9]:
fruits={"apple","mango","grapes","banana","kiwi"}
print(fruits)
fruits.discard("apple")
print(fruits)

{'mango', 'grapes', 'kiwi', 'apple', 'banana'}
{'mango', 'grapes', 'kiwi', 'banana'}

In [13]:
fruits.remove("grapes")
print(fruits)

{'kiwi', 'apple', 'banana'}

In [14]:
fruits.pop()
print(fruits)

{'apple', 'banana'}

## Sets Operations

In [26]:
my_set={1,2,3,4}
my_set_2={3,4,5,6}
print(my_set.union(my_set_2))
#or
my_set|my_set_2

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [28]:
print(my_set.intersection(my_set_2))
#or
my_set & my_set_2

{3, 4}

{3, 4}

In [29]:
print(my_set.difference(my_set_2))
#or
my_set - my_set_2

{1, 2}

{1, 2}

In [30]:
print(my_set.symmetric_difference(my_set_2))
#or
my_set ^ my_set_2

{1, 2, 5, 6}

{1, 2, 5, 6}

## Check the Subset

In [33]:
a={4,5}
b={1,2,3,4,5}

a.issubset(b)

True

In [32]:
b.issubset(a)

False

## Check if a set is a subset, using comparison operation

In [34]:
a={'a','b'}
b={'a','b','c'}

a<=b

True

In [35]:
b<=a

False

## In and not in

In [36]:
s={5,7,9}

5 in s

True

In [37]:
6 in s

False

In [39]:
s={'x','y','z'}

'w' not in s

True

In [40]:
'x' not in s

False

# frozen Set

In [1]:
nu=(1,2,3,4,5,6,7,8,9)  #tuple of number
fnum=frozenset(nu)      #Converting tuple to frozenset
print("frozenset Object is :",fnum)

frozenset Object is : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [4]:
nu=[1,2,3,4,5,6,7,8,9]
fnum=frozenset(nu)
print("frozenset object is :",fnum)

frozenset object is : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [3]:
nu={1,2,3,4,5,6,7,8,9}
fnum=frozenset(nu)
print("frozenset object is :",fnum)

frozenset object is : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

## Keep ONLY the Duplicates

In [1]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}