In [2]:
x=0
x=x+5
print(x)

5

## 7 Identity Operator

In [10]:
# Is and Is not
x=5
if(type(x) is int):
    print('true')
else:
    print('false')

true

In [11]:
x=5.2
if(type(x) is not int):
    print("true")
else:
    print("false")

true

## 8 Bitwise Operator

In [20]:
a = 60     # 60 = 0011 1100
b = 13     # 13 = 0000 1101
z = a&b
print(z)

12

In [21]:
y=a|b
print(y)

61

In [22]:
a=5
~a

-6

In [23]:
b=13
~b

-14

## Evaluating expression - Using eval function

In [25]:
evaluate='x*(x+1)*(x+2)'
print(evaluate)
print(type(evaluate))

x*(x+1)*(x+2)
<class 'str'>

In [26]:
x=3
print(type(x))

<class 'int'>

In [27]:
expression=eval(evaluate)
print(expression)
print(type(expression))

60
<class 'int'>

In [30]:
s=eval(input("Enter any equation :"))
print(s)

Enter any equation :(x+4)*(x+2)
35

## Operator Precedence

In [31]:
#Left-right associativity
# Output: 3
print(5*2//3)

3

In [32]:
#Shows left-right associativity
#output: 0
print(5*(2//3))

0

In [33]:
# Shows the right-left associativity of **
# Output: 512, Since 2**(3**2) = 2**9
print(2**3**2)

512

In [34]:
# If 2 needs to be exponated first, need to use()
# Output: 64
print((2**3)**2)

64