In [1]:
for num in range(0,11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(0,11):
    print("IPCS")

IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS

In [9]:
for i in range(10,0,-1):
    print(i+1)

11
10
9
8
7
6
5
4
3
2

## Printing numbers from 50 to 10[50,45,40,...]

In [13]:
for i in range(50,5,-5):
    print(i)

50
45
40
35
30
25
20
15
10

## 1 Sum of numbers

In [21]:
sum1 = 0
n= int(input("Enter a number: "))
for i in range(1, n+1):
    sum1 += i      #sum1 = sum1 + i
print("Sum1: ",sum1)

Enter a number: 5
Sum1:  15

## 2 Factorial

In [25]:
factorial = 1
n = int(input("Enter the number: "))
for i in range(1, n+1):
    factorial = factorial * i
print("factorial is: ",factorial)

Enter the number: 4
factorial is:  24

## 3 table of number

In [28]:
n=int(input("Enter any number: "))
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

Enter any number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Printing Patterns

## We require things
    input : How many Rows
    for loop : 1 for rows and 1 coloums
    range(start,stop)
    print()
    end=" "

## For Prime numbers

In [10]:
num = 15
for i in range (2,num):
    if num%i==0:
        print("Its not prime number")
        break
else:
    print("Its a Prime number")

Its not prime number

In [14]:
num = int(input("Enter any number: "))
for i in range(2,num):
    if num%i==0:
        print("It is not prime")
        break
else:
    print("It is prime")

Enter any number: 19
It is prime

## Even numbers

In [21]:
num=[]
for i in range(1,20):
    if i%2==0:
        num.append(i)
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## use of end=" "

In [22]:
print("Hello")
print("Hi")

Hello
Hi

In [23]:
print("Hello", end=" ")
print("hi")

Hello hi

## Type markdown and LaTeX:

In [28]:
size = 5
for i in range(size):
    print("* " * size)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [29]:
print("#",end=" ")
print("#",end=" ")
print("#",end=" ")
print("#",end=" ")

# # # #

In [30]:
for i in range(4):
    print("#",end=" ")

# # # #

In [33]:
for i in range(4):
    print("#",end=" ")
print()           #new line
for i in range(4):
    print("#",end=" ")
print()           #new line
for i in range(4):
    print("#",end=" ")
print()           #new line
for i in range(4):
    print("#",end=" ")
print()           #new line

# # # #
# # # #
# # # #
# # # #

In [40]:
for i in range(4):       #for rows
    for j in range(4):   #for coloums
        print("#",end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [41]:
for row in range(1,6):
    for col in range(row):
        print("#",end=" ")
    print()

#
# #
# # #
# # # #
# # # # #

In [44]:
for i in range(1,6):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [50]:
num_line=int(input("Enter any number: "))
for row in range(1,num_line):
    for col in range(row):
        print("*",end=" ")
    print()

Enter any number: 6
*
* *
* * *
* * * *
* * * * *

In [48]:
num_line=int(input("Enter any number: "))
for row in range(1,num_line):
    for col in range(num_line-row):
        print("*",end=" ")
    print()

Enter any number: 6
* * * * *
* * * *
* * *
* *
*

In [53]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5