1. Pandas Series

A pandas series is like a column in table

Its a one-dimensional array holding data of any type

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
(pd.__version__)

#version of pandas

'2.1.0'

In [4]:
(np.__version__)

#version of numpy

'1.24.3'

## How to make empty series

In [5]:
a=pd.Series()
print(a)
print(type(a))

Series([], dtype: object)
<class 'pandas.core.series.Series'>

In [6]:
a

Series([], dtype: object)

## How to make Series from list

In [7]:
b=pd.Series(["Virat","Dhoni","Hardik"],index=["a","b","c"],name="Crickters")
print(b)

a     Virat
b     Dhoni
c    Hardik
Name: Crickters, dtype: object

In [9]:
c=pd.Series(["50","100","200"],name="Runs")
print(c)

0     50
1    100
2    200
Name: Runs, dtype: object

In [10]:
d=pd.Series(["RCB","MI","KKR"],name="Team")
print(d)

0    RCB
1     MI
2    KKR
Name: Team, dtype: object

## How to make series from nd array

list --> array -->Series

In [12]:
import numpy as np
my_array=np.array(["a","b","c"])
my_array

s1=pd.Series(my_array)
s1

0    a
1    b
2    c
dtype: object

## How to make Series drom Dictionary

In [13]:
my_dict={"Name":"Dhoni","Profession":"Crickter","Age":41}
my_dict

s2=pd.Series(my_dict)
s2

Name             Dhoni
Profession    Crickter
Age                 41
dtype: object

In [15]:
my_dict={1:"Dhoni",2:"Crickter",3:41}
my_dict

s2=pd.Series(my_dict)
s2

1       Dhoni
2    Crickter
3          41
dtype: object

## Create series using Tuple

In [16]:
t=(1,2,3,4,5)
s=pd.Series(t)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Create series from set

In [17]:
s={1,2,3,4,5,"sarthak"}
x=pd.Series(s)



#s3=pd.Series({"a","b","c"})
#s3
#error

#we cannot make series from set

TypeError: 'set' type is unordered

## Attribute of Series

In [28]:
b=pd.Series(["Virat","Dhoni","Hardik","Sachin"],index=["a","b","c","d"],name="Crickter")
print(b)

a     Virat
b     Dhoni
c    Hardik
d    Sachin
Name: Crickter, dtype: object

## 1. Index

Return all index values

In [29]:
b.index

Index(['a', 'b', 'c', 'd'], dtype='object')

## 2. Array

Returns an array of values

In [30]:
b_new=b.array
print(b_new)

<NumpyExtensionArray>
['Virat', 'Dhoni', 'Hardik', 'Sachin']
Length: 4, dtype: object

## 3. Values

Returns values of series

In [31]:
b.values

array(['Virat', 'Dhoni', 'Hardik', 'Sachin'], dtype=object)

## 4. Name

Return name of Series

In [32]:
b.name

'Crickter'

In [33]:
v=[1,2,3,4,5,45,6,48]
s=pd.Series(v,name="abc")
print(s)

0     1
1     2
2     3
3     4
4     5
5    45
6     6
7    48
Name: abc, dtype: int64

In [34]:
s.name

'abc'

## 5. Shape

Return Shape of Series

In [35]:
b.shape

#it has 3 rows

(4,)

In [36]:
s.shape

(8,)

## 6. Empty

Return true if series is empty

In [44]:
b.empty

False

In [45]:
s.empty

False

In [46]:
empty_series=pd.Series()

#This Error will occur

#C: \Users \Shree\AppData\Local\Temp\ipykernel_14676\2907974055.p:1: FutureWarning: The default type for empty Series 
#will be 'o biect' instead of 'float64' in a future version.
#Specify a dtype explicitly to silence this warning.
#empty_series=pd.Series ()

In [47]:
empty_series.empty

True

## 7. memory_usage(method or function)

Return memory occuoied by values and indexs

In [51]:
b.memory_usage()

64

In [52]:
s.memory_usage()

196

In [53]:
empty_series.memory_usage()

132

## 8. nbytes

Return memory occupied values

In [54]:
b.nbytes

32

In [55]:
empty_series.nbytes

0

## Series from list of tupples

In [56]:
s4=pd.Series([(1,0),(2,0),(3,0)])
s4

0    (1, 0)
1    (2, 0)
2    (3, 0)
dtype: object

## Mathematical Operation on Series

In [58]:
s1=pd.Series([10,20,30])
s1

0    10
1    20
2    30
dtype: int64

In [59]:
s2=pd.Series([5,15,25])
s2

0     5
1    15
2    25
dtype: int64

In [60]:
s1 + s2

0    15
1    35
2    55
dtype: int64

In [61]:
#add

s1.add(s2)

0    15
1    35
2    55
dtype: int64

In [62]:
#mult

s1.multiply(s2)

0     50
1    300
2    750
dtype: int64

In [63]:
# divide

s1.divide(s2)

0    2.000000
1    1.333333
2    1.200000
dtype: float64

In [64]:
# modulous

s1.mod(s2)

0    0
1    5
2    5
dtype: int64

In [65]:
# power

s1.pow(s2)

0                 100000
1   -4125488147419103232
2    8896730407173619712
dtype: int64

In [66]:
s1.pow(2)

0    100
1    400
2    900
dtype: int64

In [67]:
# less than
s1.le(s2)

0    False
1    False
2    False
dtype: bool

In [68]:
# greater than

s1.gt(s2)

0    True
1    True
2    True
dtype: bool

In [69]:
# equal

s3=pd.Series([5,15,25])
s4=pd.Series([5,15,25])
s3.equals(s4)

True

In [70]:
s3=pd.Series([5,15,25,50])
s4=pd.Series([5,15,25])

s3.add(s4)

0    10.0
1    30.0
2    50.0
3     NaN
dtype: float64

In [73]:
s4=pd.Series([(1,0),(2,0),(3,0)])
s5=pd.Series([(1,0),(2,0),(3,0)])
s4.add(s5)

0    (1, 0, 1, 0)
1    (2, 0, 2, 0)
2    (3, 0, 3, 0)
dtype: object